{% extends "myapp/base_myapp.html" %}

    {% block title %} {{ name }} - About Us {% endblock %}

        {% block content %}
        <h1>Образовательный портал Study Portal</h1>
        <p>Мы предлагаем образовательные услуги по различным направлениям. {{ adress }}</p>
        <p>Учиться совершенно не сложно, когда вас поддерживает Study Portal {{ type_ }}!</p>
        <p style="color:#ffffff">С нами вы сможете быстро и легко подтянуть знания по любому направлению и сдать все
        экзамены на ОТЛИЧНО!
        </p>
        {% endblock %}
